.footer {
  text-align: center;
}

.footer .icons {
  padding: 3rem 0;
}

.footer .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.2rem;
  align-items: center;
  border-radius: 50%;
  color: var(--violet);
  border: 0.2rem solid var(--violet);
  font-size: 2rem;
  margin: 0 0.1rem;
  transition: 0.2s linear;
}

.footer .icons a:hover {
  background: var(--pink);
  border-color: var(--violet);
  color: #fff;
}

.footer .credit {
  font-size: 2rem;
  border-top: 0.1rem solid #999;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #666;
  width: 90%;
  padding: 1rem 0;
}

.footer .credit span {
  color: var(--pink);
}
