.contact {
  background: #333;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.contact .row .image img {
  width: 50vw;
  height: 70vh;
}

.contact .row .form-container {
  width: 50%;
  padding-right: 6rem;
}

.contact .row .form-container input,
textarea {
  height: 4rem;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 5rem;
  padding: 0 1rem;
  margin: 1rem 0;
  color: var(--pink);
  font-size: 1.7rem;
  transition: 0.2s linear;
}

.contact .row .form-container input:focus,
textarea:focus {
  border: 0.2rem solid var(--pink);
}

.contact .row .form-container textarea {
  height: 20rem;
  border-radius: 1rem;
  padding: 1rem;
}

.contact .row .form-container input[type="submit"] {
  width: 17rem;
  background: var(--pink);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.contact .row .form-container input[type="submit"]:hover {
  background: none;
  color: var(--pink);
  border: 0.2rem solid var(--pink);
}

/* responsive design */

@media (max-width: 768px) {
  .contact .row {
    flex-flow: column;
  }

  .contact .row .image img {
    height: 50vh;
    width: 90vw;
  }

  .contact .row .form-container {
    width: 90%;
    padding: 0;
  }
}
