<section class="course" id="course">
  <h1 class="heading">our courses</h1>
  <h3 class="title">upgrade your skills with newest courses</h3>

  <div class="box-container">
    <div class="box">
      <i class="fab fa-html5"></i>
      <h3>html5</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        dolorem.
      </p>
    </div>
    <div class="box">
      <i class="fab fa-css3-alt"></i>
      <h3>css3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        dolorem.
      </p>
    </div>
    <div class="box">
      <i class="fab fa-js-square"></i>
      <h3>javascript</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        dolorem.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-code"></i>
      <h3>web development</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        dolorem.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-bullhorn"></i>
      <h3>seo marketing</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        dolorem.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-paint-brush"></i>
      <h3>graphics design</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        dolorem.
      </p>
    </div>
  </div>
</section>
