:root {
  --pink: #ff046f;
  --violet: #c63bfa;
}

* {
  font-family: sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading {
  font-size: 4rem;
  color: var(--pink);
  text-align: center;
  padding: 0 1rem;
  padding-top: 6rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.title {
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: #aaa;
}

body {
  background: #fff;
  height: 3000px;
}




/* responsive design */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
