<section class="home" id="home">
  <div class="content">
    <h1>learn online form home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolor
      officia sequi dolore reiciendis vitae quidem illum, cupiditate ullam nemo
      explicabo? Corporis provident quo ut pariatur animi quas, modi sunt!
    </p>
    <a href="#"><button>Discover More</button></a>
  </div>

  <div class="box-container">
    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <h3>trending courses</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="box">
      <i class="fas fa-fire"></i>
      <h3>Free trial</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="box">
      <i class="fas fa-award"></i>
      <h3>certifications</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
  </div>
</section>
